<div *ngIf="!resultView" class="container">
  <form
    [formGroup]="quizForm"
    class="card mobile-show text-center"
    (ngSubmit)="saveForm()"
  >
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Options</label>
      </div>
      <select class="custom-select no-outline" formControlName="operator">
        <option selected value="0">Add</option>
        <option value="1">Subtract</option>
        <option value="2">Multiply</option>
        <option value="3">Divide</option>
      </select>
    </div>
    <div class="form-groupd-flex justify-content-between">
      <span class="number">
        {{ number1 }}
      </span>
      <span *ngIf="operator !== '/'" class="number">
        {{ operator }}
      </span>
      <span *ngIf="operator === '/'" class="number">
        &#247;
      </span>
      <span class="number">
        {{ number2 }}
      </span>
    </div>
    <br />
    <div class="form-group number">
      <input
        type="number"
        class="form-control"
        id="result"
        placeholder="Enter answer"
        formControlName="userResponse"
      />
    </div>
    <div class="button-group d-flex justify-content-around">
      <input
        type="button"
        (click)="showResult($event)"
        class="btn btn-secondary"
        value="Done"
      />
      <input
        type="submit"
        [disabled]="quizForm.invalid"
        class="btn btn-primary"
        value="Next"
      />
    </div>
  </form>
</div>

<div class="container" *ngIf="resultView">
  <!-- -------------------------------------------------Addition----------------------------------------------------------------------- -->
  <p *ngIf="additionResponse?.length" class="text-center">
    Addition Result : {{ correctAdditionResponse / additionResponse?.length * 100 }}%
  </p>
  <table *ngIf="additionResponse?.length" class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Question</th>
        <th scope="col">Response</th>
        <!-- <th scope="col">Feedback</th> -->
      </tr>
    </thead>
    <tbody *ngFor="let questionResponse of additionResponse; let i = index">
      <tr [ngClass]="{
        'table-success':
          questionResponse.correctAnswer === questionResponse.userResponse,
          'table-danger':
          questionResponse.correctAnswer !== questionResponse.userResponse
      }">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          {{ questionResponse.number1 }} {{ questionResponse.operator }}
          {{ questionResponse.number2 }}
        </td>
        <td>{{ questionResponse.userResponse }}</td>
      </tr>
    </tbody>
  </table>

  <!-- -------------------------------------------------Subtraction----------------------------------------------------------------------- -->
  <p *ngIf="subtractionResponse?.length" class="text-center">
    Subtraction Result : {{ correctSubtractionResponse / subtractionResponse?.length * 100 }}%
  </p>
  <table *ngIf="subtractionResponse?.length" class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Question</th>
        <th scope="col">Response</th>
        <!-- <th scope="col">Feedback</th> -->
      </tr>
    </thead>
    <tbody *ngFor="let questionResponse of subtractionResponse; let i = index">
      <tr [ngClass]="{
        'table-success':
          questionResponse.correctAnswer === questionResponse.userResponse,
          'table-danger':
          questionResponse.correctAnswer !== questionResponse.userResponse
      }">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          {{ questionResponse.number1 }} {{ questionResponse.operator }}
          {{ questionResponse.number2 }}
        </td>
        <td>{{ questionResponse.userResponse }}</td>
      </tr>
    </tbody>
  </table>

  <!-- -------------------------------------------------Multiplication----------------------------------------------------------------------- -->
  <p *ngIf="multiplicationResponse?.length" class="text-center">
    Multiplication Result : {{ correctMultiplicationresponse / multiplicationResponse?.length * 100 }}%
  </p>
  <table *ngIf="multiplicationResponse?.length" class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Question</th>
        <th scope="col">Response</th>
        <!-- <th scope="col">Feedback</th> -->
      </tr>
    </thead>
    <tbody *ngFor="let questionResponse of multiplicationResponse; let i = index">
      <tr [ngClass]="{
        'table-success':
          questionResponse.correctAnswer === questionResponse.userResponse,
          'table-danger':
          questionResponse.correctAnswer !== questionResponse.userResponse
      }">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          {{ questionResponse.number1 }} {{ questionResponse.operator }}
          {{ questionResponse.number2 }}
        </td>
        <td>{{ questionResponse.userResponse }}</td>
      </tr>
    </tbody>
  </table>

  <!-- -------------------------------------------------Division----------------------------------------------------------------------- -->
  <p *ngIf="divisionResponse?.length" class="text-center">
    Division Result : {{ correctDivisionResponse / divisionResponse?.length * 100 }}%
  </p>
  <table *ngIf="divisionResponse?.length" class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Question</th>
        <th scope="col">Response</th>
        <!-- <th scope="col">Feedback</th> -->
      </tr>
    </thead>
    <tbody *ngFor="let questionResponse of divisionResponse; let i = index">
      <tr [ngClass]="{
        'table-success':
          questionResponse.correctAnswer === questionResponse.userResponse,
          'table-danger':
          questionResponse.correctAnswer !== questionResponse.userResponse
      }">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          {{ questionResponse.number1 }} {{ questionResponse.operator }}
          {{ questionResponse.number2 }}
        </td>
        <td>{{ questionResponse.userResponse }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container mobile-hide d-flex justify-content-center py-lg-5">
  <p class="mobile-hide">This site is only available on mobile</p>
</div>
